<div [hidden]="this.isLoading != 5">
  <div class="player-blood">
    <div #bloodProgress class="blood-progress"></div>
    <span class="blood-counter"><span #blood>100</span>%</span>
  </div>
  <strong class="score">Score: <span #score>0</span></strong>
  <div class="play-canvas" #canvas_container style="height: 400px;"></div>
</div>
<div [hidden]="this.isLoading == 5">
  <div class="loading">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>
