<router-outlet></router-outlet>
<audio #audio_music controls loop class="audio">
  <source src="/assets/music/game-level-music.mp3">
</audio>
<audio #short_laser_gun controls loop class="audio">
  <source src="assets/music/retro-emergency-tones.mp3">
</audio>
<audio #sad_game_over controls class="audio">
  <source src="/assets/music/sad-game-over.wav">
</audio>
<audio #spaceship loop controls class="audio">
  <source src="assets/music/zapsplat_science_fiction_spaceship_station_drone_loud.mp3">
</audio>
<audio #whoosh_fee controls class="audio">
  <source src="assets/music/audio_mangler_whoosh_fee_149_388-[AudioTrimmer.com].mp3">
</audio>

<!-- TODO: Decorator pattern -->
<button class="btn audio-control" (click)="toggleAudio()">
  <img *ngIf="!isMute" src="/assets/images/volume-up-interface-symbol.png" width="16" height="16" alt="volume-up">
  <img *ngIf="isMute" src="/assets/images/mute.png" width="16" height="16" alt="mute">
</button>
<div class="audio-permesions" *ngIf="!selected">
  <h5>do you prefer to play music with game</h5>
  <button class="btn" (click)="toggleAudio(); selected = true;">yes please</button>
  <button class="btn" (click)="selected = true">no thanks</button>
</div>
